body{
    margin: auto;
    width: 1080px;
    height: 1920px;
}

h3{
    margin-top:0px;
}
h4{
    margin-bottom: 2px;
}
p{
    margin-top: 2px;
}

.virus{
background-color: #f5f5f5;
padding:20px 20px 20px 20px;
margin-bottom: 20px;
border-radius: 25px;
border:1px solid #bbb;
};